.slideshow{
  width: 350px;
  height: 200px;
  overflow: hidden;
   border: 3px solid #F2F2F2;
    position:relative;
}
.slides{
  width: 1400px;
  position: absolute;
}
.slide{
  float:left;
}
.image{
  width: 350px;
  height: 200px;
}
